@font-face {
    font-family: 'Google';
    src:    
       url('../fonts/google/ProductSans-Medium.ttf') format('TrueType');
}@font-face {
    font-family: 'GoogleLight';
    src:    
       url('../fonts/google/ProductSans-Light.ttf') format('TrueType');
}
a, h1, h2, h3, p, span{
    font-family: Google !important;
}
#myText p{
    font-family: GoogleLight !important;
}
h1 span{
    color: #00a8e8;
}
a:focus{
    outline: none;
    font-weight: 1000;
    text-decoration: underline;
}
nav{
    width: 100%;
    position: fixed !important;
    z-index: 999;
}
.navbar-brand img{
    height: 55px;
    margin-left: 100px;
    transition: all ease-out 500ms;
}
.nav-items{
    transition: margin-right ease-out 500ms !important;
    color:#fff;
}
ul.nav-items li a{
    text-transform: capitalize !important;
    font-family: Google;
}.uk-navbar-nav > li.uk-active > a {
    font-weight: 400 !important;
    font-size: 1.3em !important;
}
.sideItems li{
    text-align: center !important;
    font-family: galleria !important;
    background-color: rgba(0, 0, 0, 0.521);
    border-bottom: 1px solid #dad8d836;
}
.uk-offcanvas-bar{
    background:url("../img/sidenavBG.png") center no-repeat  #000000ea !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.main{
    height: 768px;
    width: 100%;
    background:url("../img/omgBG.jpg")  no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainOverlay{
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
}
.child4{
    margin-right: 100px;
    transition: margin-right ease-out 500ms !important;
}
.toggleIcon svg{
    fill: #fff;
}
.whiteOverlay{
    background-color: white;
    height: 800px;
    position: relative;
}
.landingText{
    text-align: center;
    color: #fff;
}
.landingText h1, .landingText h2{
    text-align: center;
    color: #fff;
}
span.element{
    font-size: 2em;
}
.element::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.element-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@media(max-width: 1000px){
    .navbar-brand img{
        margin-left: 20px !important;
    }
}
.aboutContent{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.aboutHeader h2{
    font-size: 2.2em;
    font-family: Google;
}
.aboutImg img{
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.aboutText p{
    width: 75%;
    margin: auto;
}
.works{
    height: 768px;
    width: 100%;
    background:url("../img/omgBG.jpg")  no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center !important;
    color: #fff;
    position: relative;
}
.worksOverlay{
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
}
.works h2{
    font-size: 2.2em;
    font-family: Google;
    color: #fff;
    margin-bottom: -10px !important;
}
.works h3{
    color: #fff;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin: auto;
}
.swiper-pagination-bullet {
	color:rgb(255, 255, 255) !important;
	background: rgba(255, 255, 255, 0.445) !important;
}
.swiper-pagination-bullet-active {
	color:#fff !important;
	background: #ffffff !important;
}
.worksBody h2{
    padding-top: 100px;
}
.works img{
    height: 400px !important;
    width: auto !important;
}
.slides{
    height: 500px;
}
.navigate button{
    padding: 10px;
    border: none !important;
    background-color: #ffffff6e;
}
.navigate button:focus, .navigate button:active{
    background-color: #ffffffc4;
}
.contact{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactBody{
    height: 500px;
}
.contactBody .links{
    margin: auto;
}
.contact h2{
    margin-top: 0 !important;
}
.links p:nth-child(1) a{
    color: #000000 !important;
}
.links p:nth-child(2) a{
    color: #c1453c !important;
}
.links p:nth-child(3) a{
    color: #1da1f2 !important;
}
.links p:nth-child(4) a{
    color: #e82c78 !important;
}
textarea{
    height: 100px !important;
}
/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.945);
  background-image: url("../img/logoAltX.png");
  background-repeat: no-repeat;
  background-position: center;
}

#preloader:before {
  content: " ";
  position: fixed;
}
